:root {
    --smallDivFontSize: 30px;
    --normalDivFontSize: 50px;
    --logoSmallSize: 100px;
    --logoNormalSize: 300px;
    --marginBottom: 30px;
    --bgColorOver: rgb(248, 162, 58);
    --bgColor: #131b26;
    --project-para-color: #ffffff;
    --writingModeNonActive: vertical-rl;
    --writingModeActive: horizontal-tb;
}

section {
    height: 100vh;
}


/* @keyframes about-bgd {
    from {
        background-color: var(--bgColor);
    }
    to {
        background-color: #012d24;
    }
} */

#about {
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* animation-name: about-bgd;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

#about-para {
    color: var(--project-para-color);
    display: none;
    text-align: justify;
    font-size: 20px;
    margin: 0 200px;
}

#logo {
    height: 300px;
    width: 300px;
    cursor: pointer;
}

#projects {
    background-color: var(--bgColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 200px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 799px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 100px;
    }
}

#contact {
    background-color: var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=text],
input[type=email],
textarea {
    font-family: 'Roboto Mono', monospace;
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

@media screen and (min-width: 800px) {
    #name,
    #email,
    #message {
        width: 350px;
    }
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

button[type=submit] {
    background: var(--bgColorOver);
    margin: 0 auto;
    outline: 0;
    color: var(--bgColor);
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    position: relative;
    display: inline-block;
    text-align: center;
}


/* .center {
    text-align: center;
}

.nav {
    --nav-gap: 15px;
    padding: var(--nav-gap);
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-item {
    align-items: center;
    display: flex;
    margin-bottom: var(--nav-gap);
    flex-direction: row-reverse;
}

.nav-link:hover~.nav-label {
    opacity: 1;
}

.nav-label {
    color: var(--bgColorOver);
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.1s;
}

.nav-link {
    background: rgb(248, 162, 58, 0.2);
    border-radius: 50%;
    height: var(--nav-gap);
    width: var(--nav-gap);
    margin-left: var(--nav-gap);
    transition: transform 0.1s;
}

.nav-link-selected {
    background-color: var(--bgColorOver);
    transform: scale(1.4); */


}