html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
  }
  
  .nav-div {
    height: 100vh;
  }
  
  #about {
    background: #aff8db;
  }
  
  #projects {
    background: #ffabab;
  }
  
  #contact {
    background: #fff5ba;
  }