body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #012d24;
    font-family: 'Roboto Mono', monospace;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f020f;
  }

nav li {
    list-style-type: none;
    color: #ffffff;
    display: inline;
    float: left;
    font-size: 25px;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 25px 20px;
}

nav img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    padding: 3px 10px;
} */

main {
    width: 400px;
    height: 400px;
    position: absolute;
    flex: 1 0 auto;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo-container {
    width: 400px;
    height: 270px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    /* position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

#logo:hover {
    height: 300px;
    width: 300px;
}

#message {
    font-size: 34px;
    color: #f5deb3;
    text-align: center;
    margin: 0px;
    /* position: absolute;
    top: 55%;
    width: 100%;
*/
}

footer{
    position: fixed;
    bottom: 0;
}

#maker {
    color: #f5deb3;
    font-size: 10px;
}