html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #131b26;
    font-family: 'Roboto Mono', monospace;
}

nav {
    display: flex;
}

/* .img-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#logo {
    height: 300px;
    width: 300px;
}

main {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.nav-div {
    flex: 1;
    position: relative;
    border-style: solid;
    border-color: #f8a23a;
}

.nav-para {
    position: absolute;
    bottom: 0;
    font-size: 50px;
    color: #f8a23a;
}

#about {
    background-color: darkmagenta;
    border-width: 0 1px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects {
    background-color: forestgreen;
    border-width: 0 1px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact {
    background-color: blue;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
footer {
    display: flex;
    flex-direction: row-reverse;
}

#maker {
    color: #f5deb3;
    font-size: 10px;
} */

@media screen and (max-width: 800px) {
    html {
        scroll-behavior: smooth;
    }

    #logo {
        height: 150px;
        width: 150px;
    }

    .nav-div {
        flex: none;
        border-style: none;
        height: 100vh;
    }

    .nav-para {
        display: none;
    }
}
