body {
    margin: 0px;
    background-color: #3a031d;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f020f;
  }

nav li {
    list-style-type: none;
    color: #ffffff;
    display: inline;
    float: left;
    font-size: 25px;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 25px 20px;
}

nav img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    padding: 3px 10px;
}